# totask2 project analyzed with the SonarQube Runner
#
# @deprecated not used, intergrated in gradle build via plugin
# @author man-at-home
#

# Required metadata
sonar.projectKey=totask2
sonar.projectName=totask2 project time logging
sonar.projectVersion=1.0

# Comma-separated paths to directories with sources (required)
sonar.sources=src/main

# Language
sonar.language=java

# Encoding of the source files
sonar.sourceEncoding=UTF-8

