<configuration debug="true">

	<!-- logback logging confiugration for totask2 
	     (logging into the cloud to loggly.com 
	     @author man-at-home 
	 -->

	<appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">
		<endpointUrl>http://logs-01.loggly.com/inputs/{replace-this-with-loggly-com-tag}/tag/logback
		</endpointUrl>
		<pattern>%d{ISO8601} %p %t %c{0}.%M - %m%n</pattern>
	</appender>
	<root level="info">
		<appender-ref ref="loggly" />
	</root>

	<logger name="org.manathome" level="DEBUG" />
</configuration>
