<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{totask2.appname}">totask2</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/totask2.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css" />
</head>
<body>
	<script type="text/javascript" charset="utf8" src="js/jquery-1.11.1.js"></script>
	<script type="text/javascript" charset="utf8" src="bootstrap/js/bootstrap.min.js"></script>


<div class="container paper-box" style="width:70%">

	<div th:replace="headerFooter :: header ( #{totask2.403.pageheader} ) "></div>
	
	<div class="alert alert-danger" role="alert">
		<span th:text="#{totask2.403.message}">Ihnen fehlt das Recht auf diese Aktion (http 403)</span>
		<br />
		<br />
	</div>

	<p>
		<a 	href="/" 
		 	class="btn btn-default btn-lg active"
			th:href="@{/}">
			<span th:text="#{totask2.403.link}">zur Startseite</span>
		</a>
	</p>
	
</div>

</body>
</html>
