<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>totask2: db info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="css/totask2.css"/>
</head>
<body>
	
    <h1 class="doc">current db state</h1>
    
    <p>
    <b><span id="errmsg"></span></b>
    </p>
    <p>
    projects in database:&nbsp;	<b th:text="${projectCount}">5</b>	<br/>
    tasks in database:&nbsp;	<b th:text="${taskCount}">3</b>		<br/>
    </p>
</body>
</html>
