<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>totask2: db info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="css/totask2.css"/>
	<link rel="icon" type="image/png" href="/realFavIconIncludedAtRuntime" th:replace="headerFooter :: favicon"/>

</head>
<body>
	
    <h1 class="doc">current db state</h1>
    
    <p>
    <strong><span id="errmsg"></span></strong>
    </p>
    <p>
    projects in database:&nbsp;	<strong th:text="${projectCount}">5</strong>	<br/>
    tasks in database:&nbsp;	<strong th:text="${taskCount}">3</strong>		<br/>
    </p>
</body>
</html>
