<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>totask2: edit project</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<link rel="stylesheet" type="text/css" href="/css/totask2.css" />
</head>
<body>

	<h1>project</h1>

	<p>
		<b><span id="errmsg"></span></b>
	</p>

	<form action="#" th:action="@{/project/save}" th:object="${project}" method="post">
	
		<ul th:if="${#fields.hasAnyErrors()}">
		  <li class="fieldError" th:each="err : ${#fields.allErrors()}" th:text="${err}">...</li>
		</ul>
		<label th:for="id" th:text="#{totask2.project.id.label}">Id</label>:
		<input readonly="readonly" type="text" th:field="*{id}" class="readonly"  th:errorclass="fieldError"/>
		<br />
		<label th:for="name" th:text="#{totask2.project.name.label}">Name</label>:
		<input type="text" th:field="*{name}" th:errorclass="fieldError"/>
		<span th:if="${#fields.hasErrors('name')}" class="fieldError" th:errors="*{name}">Name is invalid</span>
		<br />
		<button type="submit" name="saveProject" th:value="${project.id}" th:text="#{totask2.project.action.save}">save</button>
		
	</form>
	     
	<p><a th:href="@{/project/{id}/tasks(id=${project.id})}" th:text="#{totask2.project.action.tasks}">tasks..</a></p>
	
</body>
</html>
