<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{totask2.appname}">totask2</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/totask2.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css" />
	
	<link rel="icon" type="image/png" href="/realFavIconIncludedAtRuntime" th:replace="headerFooter :: favicon"/>
</head>
<body>
	<script type="text/javascript" charset="utf8" src="js/jquery-1.11.1.js"></script>
	<script type="text/javascript" charset="utf8" src="bootstrap/js/bootstrap.min.js"></script>


	<div class="container">
	<div class="paper-box">

		<div th:replace="headerFooter :: header (${name})"></div>

 		<span th:text="${description}"></span>
 		<span th:text="${version}">current version 1</span>
 
		<span id="flashMessage" class="alert-warning" th:unless="${#strings.isEmpty(flashMessage)}" th:text="${flashMessage}">flashMessage</span>

		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="/projects" class="btn btn-default btn-lg active" th:href="@{/projects}"> 
				<span class="glyphicon glyphicon-tasks"></span> 
				<span th:text="#{totask2.index.projects.link}">projects</span>
				</a>
			</li>
			<li>&nbsp;</li>
			<li>
				<a href="/weekEntry" class="btn btn-primary btn-lg active" role="button" th:href="@{/weekEntry}"> 
					<span class="glyphicon glyphicon-pencil"></span> 
					<span th:text="#{totask2.index.weekEntry.link}">data entry for week..</span>
				</a>
			</li>
		</ul>


		<div th:replace="headerFooter :: footer"></div>

	</div>
	</div>


</body>
</html>
