<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>totask2: list tasks for project</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<link rel="stylesheet" type="text/css" href="/css/totask2.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css" />
</head>
<body>
	<script type="text/javascript" charset="utf8" src="/js/jquery-1.11.1.js"></script>
	<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>

	<script type="text/javascript">
		/*<![CDATA[*/

		$(document).ready(function() {
			$('#tableTasks').dataTable();
		});

		/*]]>*/
	</script>
	
	<h1>tasks in project</h1>

	<p>
		<b><span id="errmsg"></span></b>
	</p>

	<div style="width: 50%">
	
	<form action="#" th:action="@{/task/delete}" method="post">
	
		<table id="tableTasks" class="display compact cell-border">
			<thead>
				<tr>
					<th th:text="#{totask2.task.id.label}">id</th>
					<th th:text="#{totask2.task.name.label}">name</th>
					<th th:text="#{totask2.task.link}" class="dt-left"/>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th /><th /><th />
				</tr>
			</tfoot>
			<tbody>
				<tr th:each="task : ${tasks}">
					<td th:text="${task.id}">17</td>
					<td th:text="${task.name}">task name</td>
					<td class="dt-left">
					  <a th:href="@{/task/{id}(id=${task.id})}" th:text="#{totask2.task.action.edit}">edit..</a> 
					  <button type="submit" name="id" th:value="${task.id}" th:text="#{totask2.task.action.delete}">delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	
	</div>
	
	<p> <a th:href="@{/project/{id}/task/new(id=${projectId})}" th:text="#{totask2.task.action.new}">new..</a> </p>
	
</body>
</html>
