<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<title th:text="#{totask2.appname}">totask2 projects</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/css/totask2.css" />
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrapValidator.min.css"/>		
</head>
<body> 
	<script type="text/javascript" charset="utf8" src="/js/jquery-1.11.1.js"></script>
	<script type="text/javascript" charset="utf8" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.js"></script>	
	<script type="text/javascript" charset="utf8" src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf8" src="/bootstrap/js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" charset="utf8" src="/js/Chart.min.js"></script>

    <!--/* 
    	this is the main entry page, allowing logging all work for task for a given week and user.
    	one row per task, one input per work day. 
    */-->
    
    
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
               
        /* all css classnames for displayed tasks. */
		var taskClassNames = {};  
    
        /** reference to week chart. */
        var weekChart;
               
	    /** register all callback javascript events. */
		$(document).ready(function()
		{ 
			$('#tableWeekEntry').dataTable();		
		    $('#weekForm').bootstrapValidator();
			
	        taskClassNames = findAllClassesForTasks();
			
	        $('input').each(function() {
	            $(this).change(function(){   
	                var data = calculateTotal(false);	/* calculate if value may changed */
	                updateWeekEntryChart(data);
	            });
	        });	  
	        
	        var dailyTotals = calculateTotal(true);  /* calculate on start */
	        drawWeekEntryChart(dailyTotals);
		});
    
	    /** find all css class names for displayed task input fields. */
        function findAllClassesForTasks()
        {
	    	var taskRegEx = /task_\d*$/g;  /* matches task_123 */
	    	var classes = {};
	    	
			$('input').each(function() {
			  if($(this).attr('class') !== undefined ) {
				  
					    $($(this).attr('class').split(' ')).each(function() { 
					        if (this !== '' && taskRegEx.test(this) ) {
					            classes[this] = this;
					        }    
				    });
			   } 
			});
			
			return classes;
        }
	    
		/** sum up all week entries in sum field */
	    function calculateTotal( isFirstCalculation ) 
	    {
	    	for (var className in taskClassNames) {
	    		var sumOneTask = sumOneTaskRow('.' + className).toFixed(1);
	    		var oldSum     = parseFloat($('#' + className + '_total').text());
	    		
	    		if( isFirstCalculation) {
	    			$('#' + className + '_label').hide();	// initially modified marker are off
	    		}
	    		else if(sumOneTask != oldSum) {	    			
	    			$('#' + className + '_label').show("slow"); // first change should trigger modified mark
	    			$('#weekEntryReport').hide(); 
	    			$("#weekEntrySave").switchClass("btn-default", "btn-primary");
	    		}
	    			
				$('#' + className + '_total').html( sumOneTask ); /* sum work hours for task ${taskInWeek.task.name} */
	    	}

// tag::developer-manual-chartData[]	    	
	    	var dailyTotals = new Array(6);
	    	var weekSum = 0;
	    	for (i = 0; i <= 6; i++) { 
	    		var daySum    = sumOneTaskRow('.day_' + i);
	    		weekSum      += daySum;
	    		dailyTotals[i]= daySum;
	    		
	    		$('#day_' + i + '_total').html(daySum.toFixed(1));
	    	}
	    	$('#week_total').html(weekSum.toFixed(1));	
	    	
	    	return dailyTotals;
// end::developer-manual-chartData[]	    	
	    }	    
	    
		/** sum all hours done for a task for complete week. */
	    function sumOneTaskRow( cssClassOfTask )
	    {
	        var sum = 0;
	        $(cssClassOfTask).each(function() {
	            if(!isNaN(this.value) && this.value.length!==0) {
	                sum += parseFloat(this.value);
	            }
	        });
	        return sum;    	
	    }
		
		
		function updateWeekEntryChart(dailyTotals) {
				drawWeekEntryChart(dailyTotals);
		}
		
		
		/** draw chart week this weeks data. */
		function drawWeekEntryChart(dailyTotals) {
// tag::developer-manual-chart[]			
			var chartData = {
				    labels: [ /*[[#{totask2.weekEntry.monday.label}]]*/    "Mon", 
				              /*[[#{totask2.weekEntry.tuesday.label}]]*/   "Tue", 
				              /*[[#{totask2.weekEntry.wednesday.label}]]*/ "Wed", 
				              /*[[#{totask2.weekEntry.thursday.label}]]*/  "Thu", 
				              /*[[#{totask2.weekEntry.friday.label}]]*/    "Fri", 
				              /*[[#{totask2.weekEntry.saturday.label}]]*/  "Sat", 
				              /*[[#{totask2.weekEntry.sunday.label}]]*/    "Sun"
				            ],
				    datasets: [
				        {
				            label: "weekly work",
				            fillColor: "rgba(220,220,220,0.5)",
				            strokeColor: "rgba(220,220,220,0.8)",
				            highlightFill: "rgba(220,220,220,0.75)",
				            highlightStroke: "rgba(220,220,220,1)",
				            data: dailyTotals
				        }
				    ]
				};
			
			var ctx = $("#weekEntryChart").get(0).getContext("2d");
			weekChart = new Chart(ctx).Bar(
					chartData,
					{animationSteps: 20} /* options. */
					);
// end::developer-manual-chart[]			

		}
			
	
	/*]]>*/
    </script>
 
 <div class="container paper-box">
 
 	<div th:replace="headerFooter :: header ( #{totask2.weekEntry.header} )"></div>
 	
	<ul class="nav nav-tabs" role="tablist">
	  <li><a th:href="@{/}" th:text="#{totask2.nav.home}">home</a></li>
	  <li><a th:href="@{/projects}" th:text="#{totask2.nav.projects}">projects</a></li>
	  <li class="active"><a href="#" th:text="#{totask2.nav.weekEntry}">home</a></li>
	</ul>	

	<p>
		<br />
		<span id="flashMessage"  
			class="alert alert-warning" 
			role="alert" 
			th:unless="${#strings.isEmpty(flashMessage)}" 
			th:text="${flashMessage}">
			flash message
		</span>
		&nbsp;
		<br />
	</p>

	<div>
			<a th:href="@{/weekEntry/} + ${previousWeek}" class="btn btn-default">			
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span th:text="#{totask2.weekEntry.action.previousWeek}">&lt;</span>				
			</a>		
			<b><span id="date" th:text="${#dates.format(date, 'dd.MM.yyyy')}"></span></b>
			
			<a th:href="@{/weekEntry/} + ${nextWeek}" class="btn btn-default">			
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span th:text="#{totask2.weekEntry.action.nextWeek}">&gt;</span>				
			</a>			
			&nbsp;
			<span th:text="${#httpServletRequest.remoteUser}">user</span>			
			
			<br />
			<br />
	</div>	
	

	<form id="weekForm" action="#" th:action="@{/weekEntry/} + ${currentWeek}" method="post" role="form"
					data-bv-container="tooltip"
	                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">		
		
		<table id="tableWeekEntry"  class="display compact cell-border">
			<colgroup>
				<col /><col /><col /><col /><col /><col /><col /><col /><col />
			</colgroup>		
			<thead>
				<tr>
				    <th />
					<th th:text="#{totask2.weekEntry.monday.label}"     class="dt-left">Mo</th>
					<th th:text="#{totask2.weekEntry.tuesday.label}"    class="dt-left">Tue</th>
					<th th:text="#{totask2.weekEntry.wednesday.label}"  class="dt-left">Wed</th>
					<th th:text="#{totask2.weekEntry.thursday.label}"	class="dt-left">Thu</th>
					<th th:text="#{totask2.weekEntry.friday.label}"		class="dt-left">Fri</th>
					<th th:text="#{totask2.weekEntry.saturday.label}"	class="dt-left">Sat</th>
					<th th:text="#{totask2.weekEntry.sunday.label}"		class="dt-left">Sun</th>
					<th th:text="#{totask2.weekEntry.taskTotal.label}"	class="dt-left">total</th>
				</tr>
			</thead>
			<tbody>
				<tr id="taskRow_"  th:each="taskInWeek : ${tasksInWeek}" th:attrappend="id=${taskInWeek.task.id}">
				
					<td >
						<strong th:text="${taskInWeek.task.name}">
							ClearQuest development
						</strong>
						<span th:id="'task_' + ${taskInWeek.task.id} + '_label'" class="abel label-info" th:text="#{totask2.weekEntry.task.modifiedLabel}">not saved</span>
					</td>
					
					<td th:each="dailyEntry, iterationStatus : ${taskInWeek.dailyEntries}">
						<div class="form-group">
						<label for="workEntry_" th:attrappend="for=${taskInWeek.task.id} + '_' + ${iterationStatus.index} "></label>
					    <input 
					    	type="number" 
					    	name="workEntry_" 
					    	class="form-control"
					    	th:attrappend="name=${taskInWeek.task.id} + '_' + ${iterationStatus.index} " 
					    	th:classappend="'day_' + ${iterationStatus.index} + ' task_' + ${taskInWeek.task.id}"
					    	th:value="${dailyEntry.duration}" 
					    	th:title="${dailyEntry.id} + ' ' + ${dailyEntry.atDate} + ' ' + ${dailyEntry.comment}"
					    	value="1" 
					    	step="0.1"
					    	size="3"
					    	min="0"
					    	max="12"
					    	maxlength="4"
					    	placeholder="hh,0" 
					    	data-bv-numeric-separator=","
							data-bv-numeric-message="must be numeric work hours" 
					    	/>
					    </div>
					</td>

					<td>
					<i>
						<span id="task_" th:attrappend="id=${taskInWeek.task.id} + '_total'" th:text="${taskInWeek.duration}">13.3</span>
					</i>
					</td>					
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td/>
					<td><i><span id="day_0_total">3.0</span></i></td>
					<td><i><span id="day_1_total">3.1</span></i></td>
					<td><i><span id="day_2_total">3.2</span></i></td>
					<td><i><span id="day_3_total">3.3</span></i></td>
					<td><i><span id="day_4_total">3.4</span></i></td>
					<td><i><span id="day_5_total">0.5</span></i></td>
					<td><i><span id="day_6_total">0.6</span></i></td>
					<td><i><span id="week_total">15.0</span></i></td>
				</tr>
			</tfoot>
		</table>
		
		<p>
			<input id="weekEntrySave" type="submit" class="btn btn-default btn-lg" th:value="#{totask2.weekEntry.save.label}" />
			
			&nbsp;&nbsp;
						
			<a id="weekEntryReport" th:href="@{/weekEntry/report/excel} + '/' + ${currentWeek}" class="btn btn-default">
					<span class="glyphicon glyphicon-print"></span>
					<span th:text="#{totask2.weekEntry.action.excelReport}">excel..</span>					
			</a>		
		</p>
			
	</form>
	
	<p>
		<canvas id="weekEntryChart" width="400" height="400"></canvas>
	</p>
	
	<div th:replace="headerFooter :: footer"></div>

</div>
</body>
</html>
